.winner {
  text-align: center;
  margin: 10px;
  font-size:20px;
  color:green;
}

.wrapper {
  text-align: center;
}

.restart {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  cursor: grab;
}

.parentTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridTop {
  border-color: "#f44336";
  border: '1px solid red';
  display: flex;
  flex-direction: column;
}

.lightBackground {
  background-color: #C0C0C0;
}

.columnsStyle {
  display: flex;
  flex-direction: column;
}

.rowStyle {
  display: flex;
}

.darkBackground {
  background-color: #808080;
}

.box {
  width: 100;
  height: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.cross {
  color: white;
  font-size: 2.5em;
  border-radius: 5px;
  line-height: 100px;
}

.oval {
  color: red;
  font-size: 2.5em;
  border-radius: 5px;
  line-height: 100px;
}
