
<div class="header"><h1> Tic Tac</h1></div>
<div id='winner' class="winner"></div>
<div class="parentTop">
    <div class="gridTop">
        <div id="grid">

        </div>
    </div>
</div>

<div class="wrapper">
  <button onclick="reset()" class="restart">Restart</button>
</div>


<script type="text/javascript" src="./index.js" ></script>
<link rel="stylesheet" href="./index.css">
